@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

b {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar-red {
    background-color: #172b4d;
}

html {
    min-width: fit-content;
}

.custom-btn {
    border-radius: 4px;
}

.custom-btn.btn-primary {
    background-color: #172b4d !important;
    border-color: #172b4d;
}


.accept-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}


div.deleteicon {
    position: relative;
    display: inline-flex;
    align-items: center;
}

div.deleteicon span {
    position: absolute;
    display: block;
    right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 13px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}

@media (max-width: 450px) {
    .display-5 {
        font-size: 1.3rem; /* Adjusted font size for smaller screens */
    }
}

@media (max-width: 374px) {
    .display-5 {
        font-size: 1.1rem; /* Adjusted font size for smaller screens */
    }
}

div.deleteicon input {
    padding-right: 18px;
    box-sizing: border-box;
}

.clickable:hover {
    background: rgb(216, 216, 216);
    cursor: pointer;
}

html, body {
    height: 100%;
}

.full-height {
    height: 100vh;
}

.text-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cookie-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 999;
}

.cookie-notification a {
    color: #fff;
    text-decoration: underline;
}

.cookie-notification a:hover {
    text-decoration: none;
}

.close-btn {
    margin-left: 20px;
    cursor: pointer;
}

.bd-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
    box-shadow: none
}

.fullscreen-iframe {
    height: 100vh;
    width: 100vw;
    border: 0;
}

.spinner {
    width: 3em;
    height: 3em;
    display: inline-block;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
