{% block content %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZD0LL5DHW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MZD0LL5DHW');
</script>

{% endblock %}
