<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Meet</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <!-- JQuery -->
        <!-- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js -->
        <script type="text/javascript" src="./static/js/jquery.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="./static/js/bootstrap.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="./static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="./static/css/mdb.min.css" rel="stylesheet">

        <link href="./static/css/main.css" rel="stylesheet">

        <link rel="icon" type="image/svg+xml" href="./static/images/favicon.png"/>
    </head>
    <body class="full-height">
        <header>
            <!-- Fixed navbar -->
            {% include "navbar.html" %}
        </header>

        <!-- Begin page content -->
        <main role="main">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Fixed footer -->
        {% include "footer.html" %}

        <script type="text/javascript" src="./static/js/main.js"></script>
    </body>

    {% include "analytics.html" %}

</html>
