{% extends 'base.html' %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center full-height">
    <div class="modal fade bd-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>

    <div class="jumbotron container-fluid p-5" style="max-width: 500px;">
        <h3 class="display-5">Reunião Debian Brasília</h3>
        <p class="lead"></p>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>Inserir os dados abaixo é <b>opcional</b>, eles <b>não</b> serão compartilhados publicamente e servem apenas para medir o engajamento de reuniões da comunidade <b>Debian Brasília</b>.</p>
                <p>Antes de preencher, pedimos que se possível coloque o mesmo <b>Nome</b> e <b>Email</b> de contribuinte caso já seja um. :)</p>
                <form method="post" action="/join">
                    <div class="form-group">
                        <label for="name">Nome<small class="text-muted ml-2">(opcional)</small></label>
                        <input type="text" class="form-control" id="name" autocomplete="name" name="name" placeholder="" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email<small class="text-muted  ml-2">(opcional)</small></label>
                        <input type="email" class="form-control" id="email" autocomplete="email" name="email" placeholder="" value="{{ email }}">
                    </div>
                    <button type="submit" onclick="modal();" class="btn btn-primary custom-btn float-right">Entrar</button>
                </form>
            </div>
        </div>
    </div>

    <div id="cookie-notification" class="cookie-notification">
        Nós utilizamos cookies para garantir que você tenha uma melhor experiência em nosso site.
        <button id="cookie-accept" class="btn accept-btn">Aceitar</button>
        <span id="cookie-close" class="close-btn">Cancelar</span>
    </div>

</div>


{% endblock %}
