{% block content %}

<nav class="navbar navbar-light navbar-red fixed-top">
    <a href="/" class="navbar-brand font-weight-normal text-white">
        <img src="./static/images/debian_brasilia_logo.png" alt="Debian" width="220">
    </a>

    <div class="d-flex d-flex-row">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opções
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/delete_cookies" class="dropdown-item">Limpar Cookies</a>
                    {% if meeting_instance %}
                    <hr>
                    <p class="p-2">Problemas ao se conectar?</p>
                    <a href="{{ meeting_instance }}" class="dropdown-item text-link">Link Direto</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>

</nav>

{% endblock %}
